In [14]:
# Data processing  
# -----------------------------------------------------------------------  
import pandas as pd  

# Pandas options  
# -----------------------------------------------------------------------  
pd.options.display.max_colwidth = None

# Path configuration for custom module imports  
# -----------------------------------------------------------------------  
import sys  
sys.path.append('../')  # Adds the parent directory to the path for custom module imports  

# Ignore warnings  
# -----------------------------------------------------------------------  
import warnings  
warnings.filterwarnings("ignore") 

# Custom functions
# -----------------------------------------------------------------------
from src.support_preprocess import *

In [15]:
df = pd.read_csv('../data/output/api_rent_madrid_eda.csv', index_col=0).reset_index(drop=True)

In [16]:
df.head()

,propertyCode,price,propertyType,size,exterior,rooms,distance,floor,district,hasLift,numPhotos
0,91615378,750.0,flat,60.0,True,1,7037,3,Hortaleza,True,12
1,98323777,684.0,studio,45.0,True,0,10656,unkonwn,unknown,True,17
2,94442572,550.0,flat,53.0,True,1,4008,1,Puente de Vallecas,False,17
3,98127430,700.0,studio,28.0,True,0,5569,1,Ciudad Lineal,False,19
4,98910552,700.0,flat,45.0,False,1,2046,5,Moncloa,False,18